asn1crypto==0.24.0
backports.functools-lru-cache==1.5
cement==2.6.2
certifi==2022.12.7
chardet==3.0.4
convertdate==2.1.3
cryptography==2.1.4
cycler==0.10.0
Cython==0.29.3
Django==1.11.11
duplicity==0.7.17
enum34==1.1.6
ephem==3.7.6.0
fasteners==0.12.0
fbprophet==0.4.post2
futures==3.2.0
holidays==0.9.9
idna==2.8
inflection==0.3.1
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.0.1
lockfile==0.12.2
lunardate==0.2.0
lxml==4.3.0
matplotlib==2.2.3
monotonic==1.0
more-itertools==5.0.0
numpy==1.16.0
pandas==0.23.4
psutil==5.4.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.3.1
pystache==0.5.4
pystan==2.18.1.0
python-dateutil==2.7.5
pytrends==4.4.0
pytz==2018.9
pyxdg==0.25
Quandl==3.4.5
requests==2.21.0
SecretStorage==2.3.1
setuptools-git==1.2
six==1.12.0
sqlparse==0.2.4
subprocess32==3.5.3
urllib3==1.24.1
